{% extends 'base.html' %}
{% block content %}

<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
<form action="/admin/inventory" method="POST">
    <input type='hidden' value='{{ user._id }}' name='user_id'/>
    <input type='hidden' value='True' name='add'/>
    <input type="text" name="name" value="Item Name"></input><br>
    <input type="text" name="description" value="Description"></input><br>
    <button type="submit" name="button">Submit</button>
</form>
</div>
</div>
{% endblock %}
