{% extends 'base.html' %}
{% block content %}
<form action="/" method="POST">
    <input type='hidden' value='{{ user.user_name }}' name='user_name'/>
    <input type='hidden' value='{{ user.user_password }}' name='user_password'/>
    <button type="submit" name="button">Back</button>
</form>
<form action="/admin/inventory" method="POST">
    <input type='hidden' value='True' name='edit'/>
    <input type='hidden' value='{{ item._id}}' name='item_id'/>
    <input type='hidden' value='{{ user._id }}' name='user_id'/>
    <input type="text" name="name" value="{{item.name}}"></input><br>
    <input type="text" name="description" value="{{item.description}}"></input><br>
    <button type="submit" name="button">Submit</button>
</form>

{% endblock %}
