{% extends 'base.html' %}
{% block content %}

<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
<form action="/admin/inventory" method="POST">
    <input type='hidden' value='True' name='edit'/>
    <input type='hidden' value='{{ item._id}}' name='item_id'/>
    <input type='hidden' value='{{ user._id }}' name='user_id'/>
    <input type="text" name="name" value="{{item.name}}"></input><br>
    <input type="text" name="description" value="{{item.description}}"></input><br>
    <input type="text" name="price" value="{{item.price}}"></input><br>
    <input type="text" name="image" value="{{item.image}}"></input><br>
    <button type="submit" name="button">Submit</button>
</form>
{% include '/partials/admin_delete_item_button.html' %}
</div>
</div>
{% endblock %}
