{% extends 'base.html' %}
{% block title %}
Home page
{% endblock %}
{% block content%}



<br>
{% for item in items %}
<div class="card mb-3 bg-primary text-center" style="max-width: 540px;">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-4">
      <img src="{{item.image}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <small><p class="card-title">{% include '/partials/more_information_button.html'%}</p></small>
        <p class="card-text">{{item.description}}</p>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
