{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center pt-2">

        <div class="col-md-2 justify-content-center pt-2">
<br><br><br><br><br>
<form action="/user_login/create" method="POST">
    Email Address<br><input type="text" name="user_email"><br>
    {% if error == True%}
    <p>This user name is taken</p>
    {% endif %}
    User Name<br><input type="text" name="user_name"><br>
    Password<br><input type="text" name="user_password"><br>
    <button type="submit" name="button">Submit</button>
</form>
</div>
</div>
{% endblock %}
