{% extends 'base.html'%}
{% block content %}




<div class="row justify-content-center pt-2">

        <div class="col-md-2 justify-content-center pt-2">
<br><br><br><br><br>
<form action="/" method="POST">
    User Name<br><input type="text" name="user_name"><br>
    Password<br><input type="text" name="user_password"><br>
    <button type="submit" class="mx-auto"name="button">Submit</button>
</form>

<br>
<a href="user_login/create">New User?</a><br>

<!-- {% for user in users %}
{{user.user_name}}<br>
{{user.user_password}}<br>
{% endfor %} -->
</div>
</div>
{% endblock %}
